.teamcomp {
  padding: 20px 3%;
  width: 100%;
  position: relative;
  display: block;
}

.modal {
  position: fixed;
  display: flex;     /*flex */
  align-items: center;
  justify-content: center;
    background-color: rgba(0, 0, 0, 0.699);
    z-index: 100;
}

.registeredheader{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.registeredheader h1 {
  font-size: 20px;
  font-weight: 500;
}

.registeredheader button {
  width: 175px;
  height: 48px;
  background: #0570FB;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  outline: none;
}

.registeredinput {
	width: 371px;
	height: 40px;
	border-radius: 6px;
	border: 1px solid #cccccc;
  outline: none;
  text-indent: 10px;
  font-size: 12px;
  margin-top: 20px;
}

.registeredcomptable {
  /* width: 100%; */
  /* background-color: red; */
  margin-top: 20px;
}



.modalelmnts {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0px 10%;
  z-index: 100;
}

.modalcrd {
	background-color: rgb(255, 255, 255);
	width: 40%;
	height: 500px;
  border-radius: 10px;
  position: fixed;
}

.close {
  font-size: 24px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.popupheadr {
	background: #f8f8f8;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 180px;
    border-radius: 10px;
    position: relative;
}

.popupheadr img {
	width: 120px;
	height: 120px;
	object-fit: cover;
}

.registeredheader h1 {
	display: block;
}

.inputelmnts {
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputelmnts h1 {
	font-size: 15px;
	font-weight: 500;
}

.temail {
	width: 100%;
	height: 38px;
	border-radius: 4px;
	border: 1px solid #CCCCCC;
	outline: none;
	text-indent: 10px;
	font-size: 14px;
  font-weight: 700;
}

.inputname {
  display: flex;
	margin-top: 10px;
  width: 100%;
}


.temail {
  width: 100%;
  margin-top: 10px;
}

.inputelmnts label {
  width: 100%;
}

.date label {
  width: 40%;
}

.email label {
  width: 100%;
}

.tinputelmnts {
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.check {
  width: 16px !important;
  height: 16px !important;
}

.checkedbxtxt {
  font-size: 14px;
  color: #5D5E5F;

}

.checkboxitems {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 20px;
  column-gap: 10px;
  margin: 20px 0px;
}

.m-email {
  font-size: 15px;
}

.tmodal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;     /*flex */
  align-items: center;
  justify-content: center;
    background-color: rgba(0, 0, 0, 0.699);
    z-index: 100;
}
/* .inputelmnts button {

} */
