.registeredcomp {
  padding: 20px 3%;
  width: 100%;
}

.registeredheader{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.registeredheader h1 {
  font-size: 20px;
  font-weight: 500;
}

.registeredheader button {
  width: 175px;
  height: 48px;
  background: #0570FB;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  outline: none;
}

.registeredinput {
	width: 371px;
	height: 40px;
	border-radius: 6px;
	border: 1px solid #cccccc;
  outline: none;
  text-indent: 10px;
  font-size: 12px;
  margin-top: 20px;
}

.registeredcomptable {
  /* width: 100%; */
  /* background-color: red; */
  margin-top: 20px;
 
}