.reset-parent {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  margin: auto;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto 10px auto;
}

.logo-container h3 {
  color: #011632;
  text-align: center;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  margin-left: 10px;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 1px solid #5d5e5f;
  width: 30%;
  margin: 5px auto 0px auto;
  height: 55%;
  background-color: #ffffff;
  padding: 0px 3rem;
  border-radius: 5px;
}

.form-header {
  display: flex;
  flex-direction: column;
  color: #0d0d0d;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  justify-items: center;
  margin-top: 2rem;
  margin-bottom: 15px;
}

.navigate {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(5, 112, 251, 1);
}
