.signup-parent {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  overflow: hidden;
}

.signup-wrapper {
  width: 100%;
  background-color: #cde2fe;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto 35px auto;
  padding-top: 20px;
}

.logo-container h3 {
  color: #011632;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  margin-left: 10px;
}

.frm-container {
  height: 100%;
}

.frm-container form {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  width: 60%;
  margin: 10px auto 10px auto;
  height: 74%;
  background-color: #ffffff;
  padding: 4rem 4rem;
}

.signup-area {
  margin: 10px auto;
  padding: 10px 10px 10px 10px;
}

.form-header {
  color: #011632;
  font-size: 22px;
  font-weight: 700;
  display: flex;
  margin-right: auto;
}

.signup-image {
  display: flex;
  width: 100%;
}

.signup-frame {
  width: 100%;
  height: auto;
  object-fit: fill;
}
